<% if partner.jobs.where(disclose_flg: 1).size != 0 %>
    <div class="content_block clearfix" id="jobs">
        <div class="text_block text-center">
            <% if category.subscript.present? %>
                <div class="subscript">
                    <%= category.subscript %>
                </div>
            <% end %>
            <div class="category_name" style="color:<%=@partner.main_color%>;">
                <%= category.name %>
            </div>
            <% if category.description.present? %>
                <div class="description">
                    <%= category.description.gsub(/\R/, "<br>").html_safe %>
                </div>
            <% end %>
        </div>
        <div class="job_area">
            <div class="job_card_area">
                <% partner.jobs.where(disclose_flg: 1).limit(6).each do |obj| %>
                    <div class="job_card_wrap" onMouseOut="this.style.border='1.5px solid #cccccc';" onMouseOver="this.style.border='1.5px solid <%=@partner.main_color%>'">
                        <div class="title">
                            <%= obj.title %>
                        </div>
                        <div class="label_area">
                            <% obj.label.split(",").each do | label | %>
                                <span class="label" style="color:<%=@partner.main_color%>;border: solid 1px <%=@partner.main_color%>;"><%= label %></span>
                            <% end %>
                        </div>
                        <div class="job_content">
                            <%= obj.main_content.truncate(40) %>
                        </div>
                        <div class="footer">
                            <div class="salary">
                                <% if obj.max_income.present? %>
                                    ～<%= obj.income_style %>
                                    <% if obj.max_income.to_i >= 10000 %>
                                        <span class="income">
                                            <%= (obj.max_income.to_i/10000).to_s(:delimited) %>
                                        </span>万円
                                    <% else %>
                                        <span class="income">
                                            <%= obj.max_income.to_s(:delimited) %>
                                        </span>円
                                    <% end %>
                                <% elsif obj.min_income.present? %>
                                    <%= obj.income_style %>
                                    <% if obj.min_income.to_i >= 10000 %>
                                        <span class="income">
                                            <%= (obj.min_income.to_i/10000).to_s(:delimited) %>
                                        </span>万円～
                                    <% else %>
                                        <span class="income">
                                            <%= obj.min_income.to_s(:delimited) %>
                                        </span>円～
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="link_for_job">
                                <%= link_to job_path(partner_url: partner.url, job_id: obj.id), class:"", style:"" do %>
                                    詳しく見る >
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <% if partner.jobs.where(disclose_flg: 1).size >= 7 %>
                <div class="link_area">
                    <a class="link_for_detail sample5-3" style="color:<%=partner.main_color%>;" onMouseOut="this.style.borderBottom='solid 2px transparent';this.children[0].style.backgroundColor='<%=partner.main_color%>';this.children[1].style.borderTop='solid 2px white';this.children[1].style.borderRight='solid 2px white'" onMouseOver="this.style.borderBottom='solid 2px <%=partner.main_color%>';this.children[0].style.backgroundColor='white';this.children[1].style.borderTop='solid 2px <%=partner.main_color%>';this.children[1].style.borderRight='solid 2px <%=partner.main_color%>'" href="<%= job_list_path(partner_url: partner.url) %>">
                        求人一覧を見る
                        <div class="circle_arrow_outer" style="background:<%=partner.main_color%>;border: 2px solid <%=partner.main_color%>;"></div>
                        <div class="circle_arrow_inner" onMouseOver="this.style.borderTop='solid 2px <%=partner.main_color%>';this.style.borderRight='solid 2px <%=partner.main_color%>'"></div>
                    </a>
                </div>
            <% end %>
        </div>
    </div>
<% end %>