<div class="container" style="margin-bottom:100px;">
    <h1>コンテンツ編集</h1>

    <div id="alert">
        <% if @alert %>
            <%= render :partial => "admin_partial/edit/error_form", locals:{item: @topic} %>
        <% end %>
    </div>

    <%= form_with(model: @topic, url:{action:"edit"} , local: false, multipart: true)  do |form| %>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>カテゴリー名</b><span class="text-danger"><b>（必須）</b></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.hidden_field :topic_category_id, :value => @topic_category.id %>
                <%= @topic_category.name %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>公開設定</b><span class="text-danger"><b>（必須）</b></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.select :disclose_flg,[["非公開","0"],["公開","1"]], {}, {class:"form-control"} %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>掲載順調整</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_field :display_order, { class:"form-control" } %>
            </div>
        </div>

        <p class="h5 mt-3"><b>【画像】</b></p>
        <div id="main_image_area">
            <%= render :partial => "admin_partial/edit/image_reflesh", locals:{model_name: "topic", name: "メインビジュアル", image: @topic.main_image, image_name: "main_image", del_id: ""} %>
        </div>
        
        <p class="h5 mt-3"><b>【動画】</b></p>
        <div class="post_row">
            <div class="post_index col-md-3">
                <p class="mb-0"><b>動画（YouTubeURL）</b><br>
                <a href="https://support.google.com/youtube/answer/171780?hl=ja" target="_blank" rel="noopener noreferrer"><span class="min-font"><b>取得方法はこちらから</b></span></a><br>
                <span class="min-font">1.説明ページの1~4を実行<br></span>
                <span class="min-font">2.こちらの欄に取得したHTMLコードを入力して保存<br></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :movie_url, {rows: 6, class:"form-control" } %>
            </div>
        </div>
        
        <p class="h5 mt-3"><b>【基本情報】</b></p>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>タイトル</b><span class="text-danger"><b>（必須）</b></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_field :title, { class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>説明文</b><span class="text-danger"><b>（必須）</b></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :description, {rows:3, class:"form-control" } %>
            </div>
        </div>
        
        <p class="h5 mt-3"><b>コンテンツ設定</b></p>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>段落形式</b><span class="text-danger"><b>（必須）</b></span>
            </div>
            <div class="post_field col-md-9">
                <label class="mr-4"><%= form.radio_button  :index_type, "数字", {class: "mr-1 one_content"} %>数字</label>
                <label class="mr-4"><%= form.radio_button  :index_type, "QA", {class: "mr-1 multi_content"} %>QA</label>
                <label class="mr-4"><%= form.radio_button  :index_type, "なし", {class: "mr-1 one_content"} %>なし</label>
            </div>
        </div>
        
        <p class="h5 mt-3"><b>【コンテンツ１】</b></p>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>ラベル</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item1_label, { class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>本文</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item1_content, { class:"form-control" } %>
            </div>
        </div>
        <div class="tooltip_bottom post_row">
            <div class="post_index col-md-3">
                <p class="w-90"><b>コンテンツ配置</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.select :item1_position,[["選択してください",""],["左","left"],["上","top"],["右","right"],["下","bottom"]], {}, {class:"form-control"} %>
            </div>
            <div class="tt_description">
                未選択の場合は文章の右側に配置されます。<br>
                動画と画像が両方存在する場合は、動画が優先されます。
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <p class="mb-0"><b>動画（YouTubeURL）</b><br>
                <a href="https://support.google.com/youtube/answer/171780?hl=ja" target="_blank" rel="noopener noreferrer"><span class="min-font"><b>取得方法はこちらから</b></span></a><br>
                <span class="min-font">1.説明ページの1~4を実行<br></span>
                <span class="min-font">2.こちらの欄に取得したHTMLコードを入力して保存<br></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item1_movie_url, {rows: 3, class:"form-control" } %>
            </div>
        </div>
        <div class="tooltip_bottom post_row">
            <div class="post_index col-md-3">
                <p class="w-90"><b>画像説明（altタグ）</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_field :item1_image_alt, { class:"form-control" } %>
            </div>
            <div class="tt_description">
                検索エンジンに画像の内容を説明するために入力します。
            </div>
        </div>
        <div id="image_area1">
            <%= render :partial => "admin_partial/edit/image_reflesh", locals:{model_name: "topic", name: "添付画像１", image: @topic.content_image1, image_name: "content_image1", del_id: "content_image1_del_id"} %>
        </div>
        
        
        <p class="h5 mt-3"><b>【コンテンツ２】</b></p>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>ラベル</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item2_label, { class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>本文</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item2_content, { class:"form-control" } %>
            </div>
        </div>
        <div class="tooltip_bottom post_row">
            <div class="post_index col-md-3">
                <p class="w-90"><b>コンテンツ配置</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.select :item2_position,[["選択してください",""],["左","left"],["上","top"],["右","right"],["下","bottom"]], {}, {class:"form-control"} %>
            </div>
            <div class="tt_description">
                未選択の場合は文章の右側に配置されます。<br>
                動画と画像が両方存在する場合は、動画が優先されます。
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <p class="mb-0"><b>動画（YouTubeURL）</b><br>
                <a href="https://support.google.com/youtube/answer/171780?hl=ja" target="_blank" rel="noopener noreferrer"><span class="min-font"><b>取得方法はこちらから</b></span></a><br>
                <span class="min-font">1.説明ページの1~4を実行<br></span>
                <span class="min-font">2.こちらの欄に取得したHTMLコードを入力して保存<br></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item2_movie_url, {rows: 3, class:"form-control" } %>
            </div>
        </div>
        <div class="tooltip_bottom post_row">
            <div class="post_index col-md-3">
                <p class="w-90"><b>画像説明（altタグ）</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_field :item2_image_alt, { class:"form-control" } %>
            </div>
            <div class="tt_description">
                検索エンジンに画像の内容を説明するために入力します。
            </div>
        </div>
        <div id="image_area2">
            <%= render :partial => "admin_partial/edit/image_reflesh", locals:{model_name: "topic", name: "添付画像２", image: @topic.content_image2, image_name: "content_image2", del_id: "content_image2_del_id"} %>
        </div>
        
        
        <p class="h5 mt-3"><b>【コンテンツ３】</b></p>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>ラベル</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item3_label, { class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>本文</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item3_content, { class:"form-control" } %>
            </div>
        </div>
        <div class="tooltip_bottom post_row">
            <div class="post_index col-md-3">
                <p class="w-90"><b>コンテンツ配置</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.select :item3_position,[["選択してください",""],["左","left"],["上","top"],["右","right"],["下","bottom"]], {}, {class:"form-control"} %>
            </div>
            <div class="tt_description">
                未選択の場合は文章の右側に配置されます。<br>
                動画と画像が両方存在する場合は、動画が優先されます。
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <p class="mb-0"><b>動画（YouTubeURL）</b><br>
                <a href="https://support.google.com/youtube/answer/171780?hl=ja" target="_blank" rel="noopener noreferrer"><span class="min-font"><b>取得方法はこちらから</b></span></a><br>
                <span class="min-font">1.説明ページの1~4を実行<br></span>
                <span class="min-font">2.こちらの欄に取得したHTMLコードを入力して保存<br></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item3_movie_url, {rows: 3, class:"form-control" } %>
            </div>
        </div>
        <div class="tooltip_bottom post_row">
            <div class="post_index col-md-3">
                <p class="w-90"><b>画像説明（altタグ）</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_field :item3_image_alt, { class:"form-control" } %>
            </div>
            <div class="tt_description">
                検索エンジンに画像の内容を説明するために入力します。
            </div>
        </div>
        <div id="image_area3">
            <%= render :partial => "admin_partial/edit/image_reflesh", locals:{model_name: "topic", name: "添付画像３", image: @topic.content_image3, image_name: "content_image3", del_id: "content_image3_del_id"} %>
        </div>
        
        
        <p class="h5 mt-3"><b>【コンテンツ４】</b></p>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>ラベル</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item4_label, { class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>本文</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item4_content, { class:"form-control" } %>
            </div>
        </div>
        <div class="tooltip_bottom post_row">
            <div class="post_index col-md-3">
                <p class="w-90"><b>コンテンツ配置</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.select :item4_position,[["選択してください",""],["左","left"],["上","top"],["右","right"],["下","bottom"]], {}, {class:"form-control"} %>
            </div>
            <div class="tt_description">
                未選択の場合は文章の右側に配置されます。<br>
                動画と画像が両方存在する場合は、動画が優先されます。
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <p class="mb-0"><b>動画（YouTubeURL）</b><br>
                <a href="https://support.google.com/youtube/answer/171780?hl=ja" target="_blank" rel="noopener noreferrer"><span class="min-font"><b>取得方法はこちらから</b></span></a><br>
                <span class="min-font">1.説明ページの1~4を実行<br></span>
                <span class="min-font">2.こちらの欄に取得したHTMLコードを入力して保存<br></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item4_movie_url, {rows: 3, class:"form-control" } %>
            </div>
        </div>
        <div class="tooltip_bottom post_row">
            <div class="post_index col-md-3">
                <p class="w-90"><b>画像説明（altタグ）</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_field :item4_image_alt, { class:"form-control" } %>
            </div>
            <div class="tt_description">
                検索エンジンに画像の内容を説明するために入力します。
            </div>
        </div>
        <div id="image_area4">
            <%= render :partial => "admin_partial/edit/image_reflesh", locals:{model_name: "topic", name: "添付画像４", image: @topic.content_image4, image_name: "content_image4", del_id: "content_image4_del_id"} %>
        </div>
        
        
        <p class="h5 mt-3"><b>【コンテンツ５】</b></p>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>ラベル</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item5_label, { class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>本文</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item5_content, { class:"form-control" } %>
            </div>
        </div>
        <div class="tooltip_bottom post_row">
            <div class="post_index col-md-3">
                <p class="w-90"><b>コンテンツ配置</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.select :item5_position,[["選択してください",""],["左","left"],["上","top"],["右","right"],["下","bottom"]], {}, {class:"form-control"} %>
            </div>
            <div class="tt_description">
                未選択の場合は文章の右側に配置されます。<br>
                動画と画像が両方存在する場合は、動画が優先されます。
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <p class="mb-0"><b>動画（YouTubeURL）</b><br>
                <a href="https://support.google.com/youtube/answer/171780?hl=ja" target="_blank" rel="noopener noreferrer"><span class="min-font"><b>取得方法はこちらから</b></span></a><br>
                <span class="min-font">1.説明ページの1~4を実行<br></span>
                <span class="min-font">2.こちらの欄に取得したHTMLコードを入力して保存<br></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item5_movie_url, {rows: 3, class:"form-control" } %>
            </div>
        </div>
        <div class="tooltip_bottom post_row">
            <div class="post_index col-md-3">
                <p class="w-90"><b>画像説明（altタグ）</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_field :item5_image_alt, { class:"form-control" } %>
            </div>
            <div class="tt_description">
                検索エンジンに画像の内容を説明するために入力します。
            </div>
        </div>
        <div id="image_area5">
            <%= render :partial => "admin_partial/edit/image_reflesh", locals:{model_name: "topic", name: "添付画像５", image: @topic.content_image5, image_name: "content_image5", del_id: "content_image5_del_id"} %>
        </div>
        
        
        <p class="h5 mt-3"><b>【コンテンツ６】</b></p>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>ラベル</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item6_label, { class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>本文</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item6_content, { class:"form-control" } %>
            </div>
        </div>
        <div class="tooltip_bottom post_row">
            <div class="post_index col-md-3">
                <p class="w-90"><b>コンテンツ配置</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.select :item6_position,[["選択してください",""],["左","left"],["上","top"],["右","right"],["下","bottom"]], {}, {class:"form-control"} %>
            </div>
            <div class="tt_description">
                未選択の場合は文章の右側に配置されます。<br>
                動画と画像が両方存在する場合は、動画が優先されます。
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <p class="mb-0"><b>動画（YouTubeURL）</b><br>
                <a href="https://support.google.com/youtube/answer/171780?hl=ja" target="_blank" rel="noopener noreferrer"><span class="min-font"><b>取得方法はこちらから</b></span></a><br>
                <span class="min-font">1.説明ページの1~4を実行<br></span>
                <span class="min-font">2.こちらの欄に取得したHTMLコードを入力して保存<br></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item6_movie_url, {rows: 3, class:"form-control" } %>
            </div>
        </div>
        <div class="tooltip_bottom post_row">
            <div class="post_index col-md-3">
                <p class="w-90"><b>画像説明（altタグ）</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_field :item6_image_alt, { class:"form-control" } %>
            </div>
            <div class="tt_description">
                検索エンジンに画像の内容を説明するために入力します。
            </div>
        </div>
        <div id="image_area6">
            <%= render :partial => "admin_partial/edit/image_reflesh", locals:{model_name: "topic", name: "添付画像６", image: @topic.content_image6, image_name: "content_image6", del_id: "content_image6_del_id"} %>
        </div>
        
        
        <p class="h5 mt-3"><b>【コンテンツ７】</b></p>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>ラベル</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item7_label, { class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>本文</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item7_content, { class:"form-control" } %>
            </div>
        </div>
        <div class="tooltip_bottom post_row">
            <div class="post_index col-md-3">
                <p class="w-90"><b>コンテンツ配置</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.select :item7_position,[["選択してください",""],["左","left"],["上","top"],["右","right"],["下","bottom"]], {}, {class:"form-control"} %>
            </div>
            <div class="tt_description">
                未選択の場合は文章の右側に配置されます。<br>
                動画と画像が両方存在する場合は、動画が優先されます。
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <p class="mb-0"><b>動画（YouTubeURL）</b><br>
                <a href="https://support.google.com/youtube/answer/171780?hl=ja" target="_blank" rel="noopener noreferrer"><span class="min-font"><b>取得方法はこちらから</b></span></a><br>
                <span class="min-font">1.説明ページの1~4を実行<br></span>
                <span class="min-font">2.こちらの欄に取得したHTMLコードを入力して保存<br></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item7_movie_url, {rows: 3, class:"form-control" } %>
            </div>
        </div>
        <div class="tooltip_bottom post_row">
            <div class="post_index col-md-3">
                <p class="w-90"><b>画像説明（altタグ）</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_field :item7_image_alt, { class:"form-control" } %>
            </div>
            <div class="tt_description">
                検索エンジンに画像の内容を説明するために入力します。
            </div>
        </div>
        <div id="image_area7">
            <%= render :partial => "admin_partial/edit/image_reflesh", locals:{model_name: "topic", name: "添付画像７", image: @topic.content_image7, image_name: "content_image7", del_id: "content_image7_del_id"} %>
        </div>
        
        
        <p class="h5 mt-3"><b>【コンテンツ８】</b></p>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>ラベル</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item8_label, { class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>本文</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item8_content, { class:"form-control" } %>
            </div>
        </div>
        <div class="tooltip_bottom post_row">
            <div class="post_index col-md-3">
                <p class="w-90"><b>コンテンツ配置</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.select :item8_position,[["選択してください",""],["左","left"],["上","top"],["右","right"],["下","bottom"]], {}, {class:"form-control"} %>
            </div>
            <div class="tt_description">
                未選択の場合は文章の右側に配置されます。<br>
                動画と画像が両方存在する場合は、動画が優先されます。
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <p class="mb-0"><b>動画（YouTubeURL）</b><br>
                <a href="https://support.google.com/youtube/answer/171780?hl=ja" target="_blank" rel="noopener noreferrer"><span class="min-font"><b>取得方法はこちらから</b></span></a><br>
                <span class="min-font">1.説明ページの1~4を実行<br></span>
                <span class="min-font">2.こちらの欄に取得したHTMLコードを入力して保存<br></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :item8_movie_url, {rows: 3, class:"form-control" } %>
            </div>
        </div>
        <div class="tooltip_bottom post_row">
            <div class="post_index col-md-3">
                <p class="w-90"><b>画像説明（altタグ）</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_field :item8_image_alt, { class:"form-control" } %>
            </div>
            <div class="tt_description">
                検索エンジンに画像の内容を説明するために入力します。
            </div>
        </div>
        <div id="image_area8">
            <%= render :partial => "admin_partial/edit/image_reflesh", locals:{model_name: "topic", name: "添付画像８", image: @topic.content_image8, image_name: "content_image8", del_id: "content_image8_del_id"} %>
        </div>
        
        <%= render :partial => "admin_partial/edit/edit_button", locals:{form: form, path: @path} %>

    <% end %>

</div>
