<div class="admin_container_edit">
    <h1>求人編集</h1>

    <div id="alert">
        <% if @alert %>
            <%= render :partial => "admin_partial/edit/error_form", locals:{item: @job} %>
        <% end %>
    </div>

    <%= form_with(model: @job, url:{action:"edit"} , local: false, multipart: true)  do |form| %>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>会社名</b><span class="text-danger"><b>（必須）</b></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.hidden_field :partner_id, :value => @partner.id %>
                <%= @partner.name %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>求人公開設定</b><span class="text-danger"><b>（必須）</b></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.select :disclose_flg,[["非公開","0"],["公開","1"]], {}, {class:"form-control"} %>
            </div>
        </div>

        <p class="h5 mt-3"><b>【動画】</b></p>
        <div class="post_row">
            <div class="post_index col-md-3">
                <p class="mb-0"><b>YouTubeURL</b><br>
                <a href="https://support.google.com/youtube/answer/171780?hl=ja" target="_blank" rel="noopener noreferrer"><span class="min-font"><b>取得方法はこちらから</b></span></a><br>
                <span class="min-font">1.説明ページの1~4を実行<br></span>
                <span class="min-font">2.こちらの欄に取得したHTMLコードを入力して保存<br></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :movie_url, {rows: 6, class:"form-control" } %>
            </div>
        </div>

        <p class="h5 mt-3"><b>【画像】</b></p>
        <div class="post_row">
            <div class="post_index col-md-3">
                <p class="mb-0"><b>メインビジュアル（複数可）</b></p>
            </div>
            <div class="post_field col-md-9">
                <%= form.file_field :images, multiple:true %><br>
            </div>
        </div>    
        <% if @job.images.attached? %>
            <p>現在登録されている画像（削除するものはチェックしてください）</p>
            <% @job.images.each do |image| %>
                <% if !image.id.nil? %>
                    <label>
                        <%= form.check_box :image_ids, {multiple: true}, image.id, false %>
                        <%= image_tag(image.variant( gravity: "center", resize: "300x200^", crop: "300x200+0+0" ).processed, class:'mr-5') %>
                    </label>
                <% end %>
            <% end %>
        <% end %>

        <p class="h5 mt-3"><b>【募集内容】</b></p>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>求人タイトル</b><span class="text-danger"><b>（必須）</b></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_field :title, { class:"form-control" } %>
            </div>
        </div>
        <div class="tooltip_bottom post_row">
            <div class="post_index col-md-3">
                <p class="w-90"><b>おすすめラベル</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_field :label, { class:"form-control" } %>
            </div>
            <div class="tt_description">
                求人閲覧画面で、アイコンとして目立つように出力されます。複数入力する場合は半角カンマ「,」で区切ってください。最大５つまで入力可能です。
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>PRポイント</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :free_comment, {rows: 5, class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>仕事内容<span class="text-danger">（必須）</span></b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :main_content, {rows: 5, class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>仕事の醍醐味</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :job_fun, {rows: 5, class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>勤務地（表示用）<span class="text-danger">（必須）</span></b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :work_location, {rows: 5, class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>勤務地（検索用）<span class="text-danger">（必須）</span></b>
            </div>
            <div class="post_field col-md-9">
                <p class="float-left mb-0 mt-2 mr-1">都道府県</p>
                <%= form.text_field :pref, { class:"form-control w-20 float-left" } %>
                <p class="float-left mb-0 mt-2 ml-3 mr-1">市区町村</p>
                <%= form.text_field :city, { class:"form-control w-20 float-left" } %>
                <p class="float-left mb-0 mt-2 ml-3 mr-1">町名番地以下</p>
                <%= form.text_field :street, { class:"form-control w-25 float-left" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>最寄り駅</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :station, {rows: 3, class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>雇用形態</b><span class="text-danger"><b>（必須）</b></span>
            </div>
            <div class="post_field col-md-9">
                <label class="mr-4"><%= form.radio_button  :emp_status, "正社員", {class: "mr-1", onclick: "func2(this.checked)"} %>正社員</label>
                <label class="mr-4"><%= form.radio_button  :emp_status, "契約社員", {class: "mr-1", onclick: "func2(this.checked)"} %>契約社員</label>
                <label class="mr-4"><%= form.radio_button  :emp_status, "パート・アルバイト", {class: "mr-1", onclick: "func2(this.checked)"} %>パート・アルバイト</label>
                <label class="mr-4"><%= form.radio_button  :emp_status, "紹介予定派遣", {class: "mr-1", onclick: "func2(this.checked)"} %>紹介予定派遣</label>
                <label class="mr-4"><%= form.radio_button  :emp_status, "派遣社員", {class: "mr-1", onclick: "func2(this.checked)"} %>派遣社員</label>
                <label class="mr-4"><%= form.radio_button  :emp_status, "業務委託", {class: "mr-1", onclick: "func2(this.checked)"} %>業務委託</label>
                <br>
                <% if /^(?!(正社員|契約社員|パート・アルバイト|紹介予定派遣|派遣社員|業務委託)$).*$/ =~ @job.emp_status %>
                    <label>
                        <input type="radio" class="mr-1" name="job[emp_status]" value="on" checked="checked" onclick="func1('another_emp_status',this.checked);" >その他
                    </label>
                    <input type="text" class="form-control" name="job[emp_status]" id="another_emp_status" value="<%= @job.emp_status %>" >
                <% else %>
                    <label>
                        <input type="radio" class="mr-1" name="job[emp_status]" value="on" onclick="func1('another_emp_status',this.checked);" >その他
                    </label>
                    <input type="text" class="form-control" name="job[emp_status]" id="another_emp_status" value disabled >
                <% end %>
            </div>
        </div>
        <script type="text/javascript">
            function func1( textid, ischecked ) {
                if( ischecked == true ) {
                    // チェックが入っていたら有効化
                    document.getElementById(textid).disabled = false;
                }
                else {
                    // チェックが入っていなかったら無効化
                    document.getElementById(textid).disabled = true;
                }
            }
            function func2( ischecked ) {
                if( ischecked == true ) {
                    //var textForm = document.getElementById("another_emp_status");
                    //textForm.value = '';
                    // チェックが入っていたら無効化
                    document.getElementById("another_emp_status").disabled = true;
                }
            }
        </script>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>雇用期間・試用期間</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :trial_period, {rows: 5, class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>給与形態</b><span class="text-danger"><b>（必須）</b></span>
            </div>
            <div class="post_field col-md-9">
                <label class="mr-4"><%= form.radio_button  :income_style, "年収", {class: "mr-1", onclick: "func4(this.checked)"} %>年収</label>
                <label class="mr-4"><%= form.radio_button  :income_style, "年俸", {class: "mr-1", onclick: "func4(this.checked)"} %>年俸</label>
                <label class="mr-4"><%= form.radio_button  :income_style, "月収", {class: "mr-1", onclick: "func4(this.checked)"} %>月収</label>
                <label class="mr-4"><%= form.radio_button  :income_style, "月給", {class: "mr-1", onclick: "func4(this.checked)"} %>月給</label>
                <label class="mr-4"><%= form.radio_button  :income_style, "日給", {class: "mr-1", onclick: "func4(this.checked)"} %>日給</label>
                <label class="mr-4"><%= form.radio_button  :income_style, "時給", {class: "mr-1", onclick: "func4(this.checked)"} %>時給</label>
                <label class="mr-4"><%= form.radio_button  :income_style, "日給月給", {class: "mr-1", onclick: "func4(this.checked)"} %>日給月給</label>
                <br>
                <% if /^(?!(年収|年俸|月収|月給|日給|時給|日給月給)$).*$/ =~ @job.income_style %>
                    <label>
                        <input type="radio" class="mr-1" name="job[income_style]" value="on" checked="checked" onclick="func3('another_income_style',this.checked);" >その他
                    </label>
                    <input type="text" class="form-control" name="job[income_style]" id="another_income_style" value="<%= @job.income_style %>" >
                <% else %>
                    <label>
                        <input type="radio" class="mr-1" name="job[income_style]" value="on" onclick="func3('another_income_style',this.checked);" >その他
                    </label>
                    <input type="text" class="form-control" name="job[income_style]" id="another_income_style" value disabled >
                <% end %>
            </div>
        </div>
        <script type="text/javascript">
            function func3( textid, ischecked ) {
                if( ischecked == true ) {
                    // チェックが入っていたら有効化
                    document.getElementById(textid).disabled = false;
                }
                else {
                    // チェックが入っていなかったら無効化
                    document.getElementById(textid).disabled = true;
                }
            }
            function func4( ischecked ) {
                if( ischecked == true ) {
                    //var textForm = document.getElementById("another_income_style");
                    //textForm.value = '';
                    // チェックが入っていたら無効化
                    document.getElementById("another_income_style").disabled = true;
                }
            }
        </script>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>想定収入</b><span class="text-danger"><b>（必須）</b></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_field :min_income, { class:"form-control w-25 float-left" } %>
                <p class="float-left mb-0 mt-2">円</p>
                <p class="float-left mb-0 mt-2 mr-2 ml-2">～</p>
                <%= form.text_field :max_income, { class:"form-control w-25 float-left" } %>
                <p class="mb-0 mt-2">円</p>
                <p class="mb-0 mt-2 min-font">※半角数字で「,」を入れずにご記入ください。</p>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>給与詳細</b><span class="text-danger"><b>（必須）</b></span><br>
                <p class="min-font mb-0" style="padding-right:.25rem;">例：基本給・昇給・その他定額的に払うもの</p>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :income, {rows: 5, class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>応募資格</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :qualification, {rows: 5, class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>求める人材</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :preferable_exp, {rows: 5, class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>就業時間（休憩時間・残業時間）</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :work_time, {rows: 5, class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>休日・休暇</b><span class="text-danger"><b>（必須）</b></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :holiday, {rows: 5, class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>福利厚生・待遇</b><span class="text-danger"><b>（必須）</b></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :treatment, {rows: 5, class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>就業場所に関する特記事項</b><span class="text-danger"></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :work_place_note, {rows: 5, class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>募集背景</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :background, {rows: 5, class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>採用人数</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_field :hire_num, { class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>募集年齢</b><br>
                    <p class="min-font mb-0" style="padding-right:.25rem;">例外を除き、労働者の募集に当たって、年齢制限を設けることはできません。禁止事項に該当しないことを十分にご確認の上記入してください。<br></p>
                    <a href="https://www.mhlw.go.jp/content/000596956.pdf" target="_blank" rel="noopener noreferrer"><span class="min-font"><b>例外についてはこちらから</b></span></a>
                </p>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_field :min_age, { class:"form-control w-25 float-left" } %>
                <p class="float-left mb-0 mt-2">歳</p>
                <p class="float-left mb-0 mt-2 mr-2 ml-2">～</p>
                <%= form.text_field :max_age, { class:"form-control w-25 float-left" } %>
                <p class="mb-0 mt-2">歳</p>
                <p class="mb-0 mt-3">年齢制限理由（制限を設ける場合は必須）</p>
                <%= form.select :age_reason,[["選択してください",""],
                ["定年年齢を上限として、その上限年齢未満の労働者を期間の定めのない労働契約の対象として募集・採用するため","定年年齢を上限として、その上限年齢未満の労働者を期間の定めのない労働契約の対象として募集・採用するため"],
                ["労働基準法その他の法令の規定により年齢制限が設けられているため","労働基準法その他の法令の規定により年齢制限が設けられているため"],
                ["長期勤続によるキャリア形成を図る観点から、若年者等を期間の定めのない労働契約の対象として募集・採用するため","長期勤続によるキャリア形成を図る観点から、若年者等を期間の定めのない労働契約の対象として募集・採用するため"],
                ["技能・ノウハウの継承の観点から、特定の職種において労働者数が相当程度少ない特定の年齢層に限定し、かつ、期間の定めのない労働契約の対象として募集・採用するため","技能・ノウハウの継承の観点から、特定の職種において労働者数が相当程度少ない特定の年齢層に限定し、かつ、期間の定めのない労働契約の対象として募集・採用するため"],
                ["芸術・芸能の分野における表現の真実性などの要請があるため","芸術・芸能の分野における表現の真実性などの要請があるため"],
                ["60歳以上の高年齢者、就職氷河期世代（35歳以上55歳未満）または特定の年齢層の雇用を促進する施策（国の施策を活用しようとする場合に限る）の対象となる者に限定して募集・採用するため","60歳以上の高年齢者、就職氷河期世代（35歳以上55歳未満）または特定の年齢層の雇用を促進する施策（国の施策を活用しようとする場合に限る）の対象となる者に限定して募集・採用するため"]
                ], {}, {class:"form-control min-font"} %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>選考フロー</b>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :selection_process, {rows: 5, class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <%= form.text_field :free_title1, { class:"form-control" } %>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :free_content1, {class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <%= form.text_field :free_title2, { class:"form-control" } %>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :free_content2, {class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <%= form.text_field :free_title3, { class:"form-control" } %>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_area :free_content3, {class:"form-control" } %>
            </div>
        </div>

        <%= render :partial => "admin_partial/edit/edit_button", locals:{form: form, path: @path} %>

    <% end %>
</div>