<div class="admin_container_edit">
    <h1>管理者編集</h1>

    <div id="alert">
        <% if @alert %>
            <%= render :partial => "admin_partial/edit/error_form", locals:{item: @user} %>
        <% end %>
    </div>

    <%= form_with(model: @user, url:{action:"edit"}, local: false)  do |form| %>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>本部権限</b><span class="text-danger"></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.check_box :admin_flg %>
                <%= form.label :admin_flg, "あり" %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>パートナー名</b><span class="text-danger"><b>（必須）</b></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.hidden_field :partner_id, :value => @partner.id %>
                <%= @partner.name %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>名前</b><span class="text-danger"><b>（必須）</b></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_field :name, { class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>メールアドレス</b><span class="text-danger"><b>（必須）</b></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.text_field :mail, { class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>パスワード</b><span class="text-danger"><b>（必須）</b></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.password_field :password, { class:"form-control" } %>
            </div>
        </div>
        <div class="post_row">
            <div class="post_index col-md-3">
                <b>パスワード(確認)</b><span class="text-danger"><b>（必須）</b></span>
            </div>
            <div class="post_field col-md-9">
                <%= form.password_field :password_confirmation, { class:"form-control" } %>
            </div>
        </div>
    
        <%= render :partial => "admin_partial/edit/edit_button", locals:{form: form, path: @path} %>
        
    <% end %>
</div>