<p class="h5 mt-3"><b>【コンテンツ１】</b></p>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>ラベル</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item1_label, { class:"form-control" } %>
    </div>
</div>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>本文</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item1_content, { class:"form-control" } %>
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像配置</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.select :item1_position,[["選択してください",""],["左","left"],["上","top"],["右","right"],["下","bottom"]], {}, {class:"form-control"} %>
    </div>
    <div class="tt_description">
        未選択の場合は文章の右側に配置されます。
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像説明（altタグ）</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_field :item1_image_alt, { class:"form-control" } %>
    </div>
    <div class="tt_description">
        検索エンジンに画像の内容を説明するために入力します。
    </div>
</div>
<div id="image_area1">
    <%= render :partial => "admin_partial/edit/image_reflesh", locals:{model_name: model_name, name: "添付画像１", image: obj.content_image1, image_name: "content_image1", del_id: "content_image1_del_id"} %>
</div>


<p class="h5 mt-3"><b>【コンテンツ２】</b></p>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>ラベル</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item2_label, { class:"form-control" } %>
    </div>
</div>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>本文</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item2_content, { class:"form-control" } %>
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像配置</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.select :item2_position,[["選択してください",""],["左","left"],["上","top"],["右","right"],["下","bottom"]], {}, {class:"form-control"} %>
    </div>
    <div class="tt_description">
        未選択の場合は文章の右側に配置されます。
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像説明（altタグ）</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_field :item2_image_alt, { class:"form-control" } %>
    </div>
    <div class="tt_description">
        検索エンジンに画像の内容を説明するために入力します。
    </div>
</div>
<div id="image_area2">
    <%= render :partial => "admin_partial/edit/image_reflesh", locals:{model_name: model_name, name: "添付画像２", image: obj.content_image2, image_name: "content_image2", del_id: "content_image2_del_id"} %>
</div>


<p class="h5 mt-3"><b>【コンテンツ３】</b></p>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>ラベル</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item3_label, { class:"form-control" } %>
    </div>
</div>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>本文</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item3_content, { class:"form-control" } %>
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像配置</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.select :item3_position,[["選択してください",""],["左","left"],["上","top"],["右","right"],["下","bottom"]], {}, {class:"form-control"} %>
    </div>
    <div class="tt_description">
        未選択の場合は文章の右側に配置されます。
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像説明（altタグ）</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_field :item3_image_alt, { class:"form-control" } %>
    </div>
    <div class="tt_description">
        検索エンジンに画像の内容を説明するために入力します。
    </div>
</div>
<div id="image_area3">
    <%= render :partial => "admin_partial/edit/image_reflesh", locals:{model_name: model_name, name: "添付画像３", image: obj.content_image3, image_name: "content_image3", del_id: "content_image3_del_id"} %>
</div>


<p class="h5 mt-3"><b>【コンテンツ４】</b></p>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>ラベル</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item4_label, { class:"form-control" } %>
    </div>
</div>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>本文</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item4_content, { class:"form-control" } %>
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像配置</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.select :item4_position,[["選択してください",""],["左","left"],["上","top"],["右","right"],["下","bottom"]], {}, {class:"form-control"} %>
    </div>
    <div class="tt_description">
        未選択の場合は文章の右側に配置されます。
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像説明（altタグ）</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_field :item4_image_alt, { class:"form-control" } %>
    </div>
    <div class="tt_description">
        検索エンジンに画像の内容を説明するために入力します。
    </div>
</div>
<div id="image_area4">
    <%= render :partial => "admin_partial/edit/image_reflesh", locals:{model_name: model_name, name: "添付画像４", image: obj.content_image4, image_name: "content_image4", del_id: "content_image4_del_id"} %>
</div>


<p class="h5 mt-3"><b>【コンテンツ５】</b></p>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>ラベル</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item5_label, { class:"form-control" } %>
    </div>
</div>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>本文</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item5_content, { class:"form-control" } %>
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像配置</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.select :item5_position,[["選択してください",""],["左","left"],["上","top"],["右","right"],["下","bottom"]], {}, {class:"form-control"} %>
    </div>
    <div class="tt_description">
        未選択の場合は文章の右側に配置されます。
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像説明（altタグ）</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_field :item5_image_alt, { class:"form-control" } %>
    </div>
    <div class="tt_description">
        検索エンジンに画像の内容を説明するために入力します。
    </div>
</div>
<div id="image_area5">
    <%= render :partial => "admin_partial/edit/image_reflesh", locals:{model_name: model_name, name: "添付画像５", image: obj.content_image5, image_name: "content_image5", del_id: "content_image5_del_id"} %>
</div>


<p class="h5 mt-3"><b>【コンテンツ６】</b></p>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>ラベル</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item6_label, { class:"form-control" } %>
    </div>
</div>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>本文</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item6_content, { class:"form-control" } %>
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像配置</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.select :item6_position,[["選択してください",""],["左","left"],["上","top"],["右","right"],["下","bottom"]], {}, {class:"form-control"} %>
    </div>
    <div class="tt_description">
        未選択の場合は文章の右側に配置されます。
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像説明（altタグ）</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_field :item6_image_alt, { class:"form-control" } %>
    </div>
    <div class="tt_description">
        検索エンジンに画像の内容を説明するために入力します。
    </div>
</div>
<div id="image_area6">
    <%= render :partial => "admin_partial/edit/image_reflesh", locals:{model_name: model_name, name: "添付画像６", image: obj.content_image6, image_name: "content_image6", del_id: "content_image6_del_id"} %>
</div>


<p class="h5 mt-3"><b>【コンテンツ７】</b></p>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>ラベル</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item7_label, { class:"form-control" } %>
    </div>
</div>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>本文</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item7_content, { class:"form-control" } %>
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像配置</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.select :item7_position,[["選択してください",""],["左","left"],["上","top"],["右","right"],["下","bottom"]], {}, {class:"form-control"} %>
    </div>
    <div class="tt_description">
        未選択の場合は文章の右側に配置されます。
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像説明（altタグ）</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_field :item7_image_alt, { class:"form-control" } %>
    </div>
    <div class="tt_description">
        検索エンジンに画像の内容を説明するために入力します。
    </div>
</div>
<div id="image_area7">
    <%= render :partial => "admin_partial/edit/image_reflesh", locals:{model_name: model_name, name: "添付画像７", image: obj.content_image7, image_name: "content_image7", del_id: "content_image7_del_id"} %>
</div>


<p class="h5 mt-3"><b>【コンテンツ８】</b></p>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>ラベル</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item8_label, { class:"form-control" } %>
    </div>
</div>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>本文</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item8_content, { class:"form-control" } %>
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像配置</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.select :item8_position,[["選択してください",""],["左","left"],["上","top"],["右","right"],["下","bottom"]], {}, {class:"form-control"} %>
    </div>
    <div class="tt_description">
        未選択の場合は文章の右側に配置されます。
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像説明（altタグ）</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_field :item8_image_alt, { class:"form-control" } %>
    </div>
    <div class="tt_description">
        検索エンジンに画像の内容を説明するために入力します。
    </div>
</div>
<div id="image_area8">
    <%= render :partial => "admin_partial/edit/image_reflesh", locals:{model_name: model_name, name: "添付画像８", image: obj.content_image8, image_name: "content_image8", del_id: "content_image8_del_id"} %>
</div>


<p class="h5 mt-3"><b>【コンテンツ９】</b></p>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>ラベル</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item9_label, { class:"form-control" } %>
    </div>
</div>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>本文</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item9_content, { class:"form-control" } %>
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像配置</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.select :item9_position,[["選択してください",""],["左","left"],["上","top"],["右","right"],["下","bottom"]], {}, {class:"form-control"} %>
    </div>
    <div class="tt_description">
        未選択の場合は文章の右側に配置されます。
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像説明（altタグ）</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_field :item9_image_alt, { class:"form-control" } %>
    </div>
    <div class="tt_description">
        検索エンジンに画像の内容を説明するために入力します。
    </div>
</div>
<div id="image_area9">
    <%= render :partial => "admin_partial/edit/image_reflesh", locals:{model_name: model_name, name: "添付画像９", image: obj.content_image9, image_name: "content_image9", del_id: "content_image9_del_id"} %>
</div>


<p class="h5 mt-3"><b>【コンテンツ１０】</b></p>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>ラベル</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item10_label, { class:"form-control" } %>
    </div>
</div>
<div class="post_row">
    <div class="post_index col-md-3">
        <b>本文</b>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_area :item10_content, { class:"form-control" } %>
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像配置</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.select :item10_position,[["選択してください",""],["左","left"],["上","top"],["右","right"],["下","bottom"]], {}, {class:"form-control"} %>
    </div>
    <div class="tt_description">
        未選択の場合は文章の右側に配置されます。
    </div>
</div>
<div class="tooltip_bottom post_row">
    <div class="post_index col-md-3">
        <p class="w-90"><b>画像説明（altタグ）</b></p><span class="question_icon"><i class="far fa-question-circle"></i></span>
    </div>
    <div class="post_field col-md-9">
        <%= form.text_field :item10_image_alt, { class:"form-control" } %>
    </div>
    <div class="tt_description">
        検索エンジンに画像の内容を説明するために入力します。
    </div>
</div>
<div id="image_area10">
    <%= render :partial => "admin_partial/edit/image_reflesh", locals:{model_name: model_name, name: "添付画像１０", image: obj.content_image10, image_name: "content_image10", del_id: "content_image10_del_id"} %>
</div>
